
/*@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);*/

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* MeyerWeb Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}


/* Base text styles */

body {
    padding:10px 50px 0 0;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #232323;
    background-color: #FBFAF7;
    margin: 0;
    line-height: 1.8em;
    -webkit-font-smoothing: antialiased;

}

h1, h2, h3, h4, h5, h6 {
    color:#232323;
    margin:36px 0 10px;
}

p, ul, ol, table, dl {
    margin:0 0 22px;
}

h1, h2, h3 {
    font-family: Arvo, Monaco, serif;
    line-height:1.3;
    font-weight: normal;
}

h1,h2, h3 {
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4, h5, h6 {
    font-family: Arvo, Monaco, serif;
    font-weight: 700;
}

a {
    color:#C30000;
    font-weight:200;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

a small {
    font-size: 12px;
}

em {
    font-style: italic;
}

strong {
    font-weight:700;
}

ul li {
    list-style: inside;
    padding-left: 25px;
}

ol li {
    list-style: decimal inside;
    padding-left: 20px;
}

blockquote {
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

dl, dt, dd, dl p {
    font-color: #444;
}

dl dt {
    font-weight: bold;
}

dl dd {
    padding-left: 20px;
    font-style: italic;
}

dl p {
    padding-left: 20px;
    font-style: italic;
}

hr {
    border:0;
    background:#ccc;
    height:1px;
    margin:0 0 24px;
}

/* Images */

img {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    padding: 5px;
    margin: 10px 0 32px 0;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    width: 90%;
}
/* Code blocks */

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color:#000;
    font-size:14px;
}

pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius:4px;
    border:1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
}

div.code {
    float: right;
    width: 510px;
}

/* Tables */

table {
    width:100%;
}

table {
    border: 1px solid #ccc;
    margin-bottom: 32px;
    text-align: left;
}

th {
    font-family: 'Arvo', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding: 10px;
    background: #232323;
    color: #FDFEFB;
}

td {
    padding: 10px;
    background: #ccc;
}


/* Wrapper */
.wrapper {
    width: 1040px;
}


/* Header */

header {
    background-color: #171717;
    color: #FDFDFB;
    width:170px;
    min-width: 170px;
    float:left;
    border: 1px solid #000;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 20px 0 0 20px;
    margin: 30px 0 0 0;
    -webkit-font-smoothing: antialiased;
}

p.header {
    font-size: 16px;
}

h1.header {
    font-family: Arvo, sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
}


h1.header, a.header, a.name, header a{
    color: #fff;
}

a.header {
    text-decoration: underline;
}

a.name {
    white-space: nowrap;
}

header ul {
    list-style:none;
    padding:0;
}

header li {
    list-style-type: none;
    width:132px;
    height:15px;
    margin-bottom: 12px;
    line-height: 1em;
    padding: 6px 6px 6px 7px;

    background: #AF0011;
    background: -moz-linear-gradient(top, #AF0011 0%, #820011 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #AF0011 0%,#820011 100%);
    background: -o-linear-gradient(top, #AF0011 0%,#820011 100%);
    background: -ms-linear-gradient(top, #AF0011 0%,#820011 100%);
    background: linear-gradient(top, #AF0011 0%,#820011 100%);

    border-radius:4px;
    border:1px solid #0D0D0D;

    -webkit-box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);
    box-shadow: inset 0px 1px 1px 0 rgba(233,2,38, 1);

}

header li:hover {
    background: #C3001D;
    background: -moz-linear-gradient(top, #C3001D 0%, #950119 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #C3001D 0%,#950119 100%);
    background: -o-linear-gradient(top, #C3001D 0%,#950119 100%);
    background: -ms-linear-gradient(top, #C3001D 0%,#950119 100%);
    background: linear-gradient(top, #C3001D 0%,#950119 100%);
}

a.buttons {
    -webkit-font-smoothing: antialiased;
    background: url(../images/arrow-down.png) no-repeat;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    padding: 2px 2px 2px 22px;
    height: 30px;
}

a.docs {
    -webkit-font-smoothing: antialiased;
    background: url(../images/book.png) no-repeat 0 3px;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    padding: 2px 2px 2px 22px;
    height: 30px;
}
a.docs:hover {
    color: #fff;
    text-decoration: none;
}

a.blog {
    -webkit-font-smoothing: antialiased;
    background: url(../images/baloon.png) no-repeat 0 2px;
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
    padding: 2px 2px 2px 22px;
    height: 30px;
}
a.blog:hover {
    color: #fff;
    text-decoration: none;
}

a.github {
    background: url(../images/octocat-small.png) no-repeat 1px;
}

a.buttons:hover {
    color: #fff;
    text-decoration: none;
}


/* Section - for main page content */

section {
    width: 810px;
    float:right;
    padding-bottom:50px;
}


/* Footer */

footer {
    width:100%;
    float:left;
    bottom:10px;
    margin: 20px;
    padding-top: 10px;
    clear: both;
    text-align: center;
    border-top: 1px solid #aaa;
}

div.clear {
    clear: both;
}

div.parameters {
    float: left;
}

@media print, screen and (max-width: 1040px) {
    div.wrapper {
        width:auto;
        margin:0;
    }

    header, section, footer {
        float:none;
        position:static;
        width:auto;
    }

    header {
        padding-right:32px;
    }

    section {
        padding:0px 0px 20px 30px;
        margin:0 0 20px;
    }

    header a small {
        display:inline;
    }

    header ul {
        float: right;
    }

    div.header_title {
        float: left;
    }

    div.code {
        float: right;
        width: 510px;
    }
}

@media print, screen and (max-width: 920px) {
    body {
        word-wrap:break-word;
    }

    header {
        padding-right:32px;
        margin-right: 0;
    }

    section {
        padding:10px 0 10px 20px;
        margin:0 0 30px;
    }

    div.parameters {
        float: none;
    }
    div.code {
        float:none;
        width: auto;
    }
    
    div.header_title {
        float: left;
    }
}

@media print, screen and (max-width: 430px) {
    header ul, header p.view {
        position:static;
    }

    header ul li.download {
        display:none;
    }

    footer a {
        display:block;
    }

    div.code {
        float:none;
        width: auto;
    }

    header ul {
        float: none;
    }
    div.header_title {
        float: none;
    }
}

@media print {
    body {
        padding:0.4in;
        font-size:12pt;
        color:#444;
    }
}

/*---------- whitengrey Styles ---------*/
.sh_whitengrey{background:none; padding:0; margin:0; border:0 none;}.sh_whitengrey .sh_sourceCode{background-color:#fff;color:#696969;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_keyword{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_type{color:#696969;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_string{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_regexp{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_specialchar{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_comment{color:#1326a2;font-weight:normal;font-style:italic;}.sh_whitengrey .sh_sourceCode .sh_number{color:#b0f;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_preproc{color:#470000;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_function{color:#000;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_url{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_date{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_time{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_file{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_ip{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_name{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_variable{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_oldfile{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_newfile{color:#080;font-weight:normal;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_difflines{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_selector{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_property{color:#696969;font-weight:bold;font-style:normal;}.sh_whitengrey .sh_sourceCode .sh_value{color:#080;font-weight:normal;font-style:normal;}

/*-------- Snippet Base Styles ----------*/
.snippet-wrap { position: relative }
*:first-child+html .snippet-wrap {display:inline-block;}
* html .snippet-wrap {display:inline-block;}
.snippet-reveal{text-decoration:underline;}
.snippet-wrap .snippet-menu, .snippet-wrap .snippet-hide {position:absolute; top:10px; right:15px; font-size:.9em;z-index:1;background-color:transparent;}
.snippet-wrap .snippet-hide {top:auto; bottom:10px;}
*:first-child+html .snippet-wrap .snippet-hide {bottom:25px;}
* html .snippet-wrap .snippet-hide {bottom:25px;}
.snippet-wrap .snippet-menu pre, .snippet-wrap .snippet-hide pre {background-color:transparent; margin:0; padding:0;}
.snippet-wrap .snippet-menu a, .snippet-wrap .snippet-hide a {padding:0 5px; text-decoration:underline;}
.snippet-wrap pre.sh_sourceCode{padding:1em;line-height:1.8em;overflow:auto;position:relative;}
.snippet-wrap pre.snippet-textonly {padding:2em;}
*:first-child+html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
* html .snippet-wrap pre.snippet-formatted {padding:2em 1em;}
.snippet-reveal pre.sh_sourceCode {padding:.5em 1em; text-align:right;}
.snippet-wrap .snippet-num li{padding-left: 0em;}
.snippet-wrap .snippet-no-num{list-style:none; padding:.6em 1em; margin:0;}
.snippet-wrap .snippet-no-num li {list-style:none; padding-left:0;}
.snippet-wrap .snippet-num {margin: 2em 0 0em 0em; padding-left:3em;}
.snippet-wrap .snippet-num li {list-style:decimal-leading-zero outside none;}
.snippet-wrap .snippet-no-num li.box {padding:0 6px; margin-left:-6px;}
.snippet-wrap .snippet-num li.box {border:1px solid; list-style-position:inside; margin-left:-3em; padding-left:6px;}
*:first-child+html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
* html .snippet-wrap .snippet-num li.box {margin-left:-2.4em;}
.snippet-wrap li.box-top {border-width:1px 1px 0 !important;}
.snippet-wrap li.box-bot {border-width:0 1px 1px !important;}
.snippet-wrap li.box-mid {border-width:0 1px !important;}
.snippet-wrap .snippet-num li .box-sp {width:18px; display:inline-block;}
*:first-child+html .snippet-wrap .snippet-num li .box-sp {width:27px;}
* html .snippet-wrap .snippet-num li .box-sp {width:27px;}
.snippet-wrap .snippet-no-num li.box {border:1px solid;}
.snippet-wrap .snippet-no-num li .box-sp {display:none;}

/*! jQuery UI - v1.9.1 - 2012-10-31
 * http://jqueryui.com
 * Includes: jquery.ui.core.css, jquery.ui.tabs.css
 * Copyright (c) 2012 jQuery Foundation and other contributors Licensed MIT
 * Copyright (c) Arskom Ltd.
 */

/* Layout helpers */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

/* Interaction Cues */
.ui-state-disabled { cursor: default !important; }

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; border-radius: 0;}
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; outline:0}
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }

/* Component containers */
.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 0px; background: #fbfaf7; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border-bottom: 1px solid #ccc; background: #fbfaf7; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }

/* Interaction Cues */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Off-left technique from http://docs.jquery.com/UI/Tabs */
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}
